<div class="cater-menu-backdrop" title="Mayme's Catering Menu"></div>
<div class="cater-menu-page">
	<div class="menu">
		<h1>MAYME'S CATERING MENU</h1>
		<br>
		<div class="salad menu-section">
			<h2>Salads</h2>
			<p>
				“Not just lettuce at Mayme’s!” A mixture of romaine and iceburg lettuce with tomatoes, cucumbers, kalamata olives, onions and hard cooked eggs.
			</p>
			<br>
			<% @cater_salads.each do |salad| %>
				<% if salad.status != 'Inactive' %>
					<div class="item">
						<div class="box-left">
							<h3><b><%= salad.title %></b></h3>	
							<p><%= salad.description %></p>
						</div>
						<div class="box-right">
							<h4>
								Half Tray <%= number_to_currency(salad.half, :precision => 2) %><br>
								Full Tray <%= number_to_currency(salad.full, :precision => 2) %>
							</h4>
						</div>
					</div>
				<% end %>
			<% end %>
			<div class="clear"></div>
			<p class="dressing">
				CHOICE OF DRESSING:<br>
				 • House Dressing <br>
				 • Balsamic Vinaigrette Ranch<br>
				 • 1,000 Island<br>
				 • Lite Italian<br> 
				 • Creamy Cucumber<br>
				*Dry Bleu Cheese available at extra cost
			</p>
		</div>
		<div class="caesar menu-section">
			<h2>The Real Caesar Salad</h2>
			<p>
				The Caesar dressing is Mayme’s secret recipe and we promised not to tell! We do not use raw eggs.
			</p>
			<br>
			<% @cater_caesar.each do |caesar| %>
				<% if caesar.status != 'Inactive' %>
					<div class="item">
						<h3><b><%= caesar.title %></b></h3>
						<h4><%= number_to_currency(caesar.price, :precision => 2) %></h4>
						<p><%= caesar.description %></p>
					</div>
				<% end %>
			<% end %>
		</div>
		<div class="sandwich menu-section">
			<h2>Deli Sandwich Trays</h2>
			<p>
				Choose from our variety of meats, cheeses, breads or wraps.
			</p>
			<% @cater_sandwiches.each do |sandwich| %>
				<% if sandwich.status != 'Inactive' %>
					<div class="item">
						<h3><b><%= sandwich.title %></b></h3>
						<h4><%= number_to_currency(sandwich.price, :precision => 2) %></h4>
						<p><%= sandwich.description %></p>
					</div>
				<% end %>
			<% end %>
		</div>
		<div class="tray menu-section">
			<h2>Tray of Cold Cuts</h2>
			<h3>Sliced or Cubed</h3>
			<p>Smoked ham, salami, roasted turkey breast, Swiss cheese, provolone cheese. Add roasted beef at additional cost.<br><br>** Minimum of 10 People **</p>
		</div>
		<div class="veggies menu-section">
			<h2>Fresh Roasted Seasonal Veggies</h2>
			<% @vegetables.each do |vegetable| %>
				<% if vegetable.status != 'Inactive' %>
					<div class="item">
						<h3><b><%= vegetable.title %></b></h3>
						<h4><%= number_to_currency(vegetable.price, :precision => 2) %></h4>
						<p><%= vegetable.description %></p>
					</div>
				<% end %>
			<% end %>
		</div>
		<div class="extras menu-section">
			<h2>Sides and Extras</h2>
			<% @extras.each do |extra| %>
				<% if extra.status != 'Inactive' %>
					<div class="item">
						<h3><b><%= extra.title %></b></h3>
						<h4><%= number_to_currency(extra.price, :precision => 2) %><%= extra.unit %></h4>
						<p><%= extra.description %></p>
					</div>
				<% end %>
			<% end %>
		</div>
		<div class="meats menu-section">
			<h2>Meat Specialties</h2>
			<% @meats.each do |meat| %>
				<% if meat.status != 'Inactive' %>
					<div class="item">
						<div class="box-left">
							<h3><b><%= meat.title %></b></h3>	
							<p><%= meat.description %></p>
						</div>
						<div class="box-right">
							<% if meat.unit == 'Normal' %>
								<h4>
									Half Tray <%= number_to_currency(meat.half, :precision => 2) %><br>
									Full Tray <%= number_to_currency(meat.full, :precision => 2) %>
								</h4>
							<% else %>
								<h4><%= number_to_currency(meat.price, :precision => 2) %><%= meat.unit %></h4>
							<% end %>
						</div>
					</div>
				<% end %>
			<% end %>
			<div class="clear"></div>
		</div>
		<div class="chicken menu-section">
			<h2>Poultry Ideas</h2>
			<div class="chicken-tray">
				<p>
					** All Half Trays $40.00 **<br> 
					** All Full Trays $75.00 **
				</p>
			</div>
			<% @poultries.each do |poultry| %>
				<% if poultry.status != 'Inactive' %>
					<div class="item">
						<h3><b><%= poultry.title %></b></h3>
						<% if poultry.unit != 'Normal' %>
							<h4><%= number_to_currency(poultry.price, :precision => 2) %><%= poultry.unit %></h4>
						<% end %>
						<p>
							<%= poultry.description %>
						</p>
					</div>
				<% end %>
			<% end %>
		</div>
		<div class="pasta menu-section">
			<h2>Pastas</h2>
			<% @pastas.each do |pasta| %>
				<% if pasta.status != 'Inactive' %>
					<div class="item">
						<div class="box-left">
							<h3><b><%= pasta.title %></b></h3>	
							<p><%= pasta.description %></p>
						</div>
						<div class="box-right">
							<% if pasta.unit == 'Normal' %>
								<h4>
									Half Tray <%= number_to_currency(pasta.half, :precision => 2) %><br>
									Full Tray <%= number_to_currency(pasta.full, :precision => 2) %>
								</h4>
							<% else %>
								<h4><%= number_to_currency(pasta.price, :precision => 2) %><%= pasta.unit %></h4>
							<% end %>
						</div>
					</div>
				<% end %>
			<% end %>
			<div class="clear"></div>
		</div>
		<div class="sizes menu-section">
			<h2>Serving Sizes</h2>
			<p>
				Per Pound - Approximately 3-4 people.<br>
				Quarts - Approximately 4-5 people.<br>
				Half Tray - Approximately 8-10 people.<br>
				Full Tray - Approximately 11-20 people.<br>
			</p>
			<hr>
			<p class="disclaimer">
				If it is not on our menu, just ask! We should be able to accommodate.<br>
				<br>
				Deposit of 30% is required when the order is placed and/or a credit card to secure the deposit.
			</p>
			<h3>
				MUST ORDER 72 HOURS PRIOR TO EVENT
			</h3>
		</div>
		<hr>
		<p class="pricing">*ONLINE MENU PRICING SUBJECT TO CHANGE*</p>
	</div>
</div>