<div class="center">
	<h1>EDIT: <%= @dish.title %></h1>
	<div class="new-form">
		<%= form_for @dish, :html => { :multipart => true } do |f| %>
			<div class="form-section">
				<%= f.label :category %><br>
				<%= f.select :category, ['Feature', 'Soup', 'Salad',  'Sandwich', 'Veg Sandwich', 'Seafood Sandwich', 'Burger', 'Beverage', 'Topping', 'Side', 'Kids', 'Dessert', ['Catering Salad', 'cater_salad'], ['Catering Sandwich', 'cater_sandwich'], ['Catering Vegetable', 'cater_veg'], ['Catering Extras', 'cater_extras'],  ['Catering Meat', 'cater_meat'], ['Catering Poultry', 'cater_poultry'], ['Catering Pasta', 'cater_pasta']] %>
			</div>
			<br>
			<div class="form-section">
				<%= f.label :title %><br>
				<%= f.text_field :title %>
			</div>
			<br>
			<div class="form-section">
				<%= f.label :description %><br>
				<%= f.text_area :description %>
			</div>
			<br>
			<div class="pricing form-section">
				<%= f.label 'Half Tray Price' %>
				<%= f.text_field :half, class: "price" %>
			</div>
			<div class="pricing form-section">
				<%= f.label 'Full Tray Price' %>
				<%= f.text_field :full, class: "price" %>
			</div>
			<div class="pricing form-section">
				<%= f.label 'Fixed Price' %>
				<%= f.text_field :price, class: "price" %>
				<%= f.select :unit, ['Normal', ['Per Pound', '/lb'], ['Per Quart', '/qt'], ['Per Dozen', '/doz']] %>
			</div>
			<br>
			<div class="form-section">
				<%= f.submit class: "submit" %>
			</div>
		<% end %>
		<span>
			<%=link_to "Delete this Dish", dish_path, method: :delete, data: {confirm: "Delete this Dish?"} %>
		</span>
	</div>
</div>

