<div class="switch">
	<h3 class="restaurant"><%= link_to 'CAFE', '#' %></h3>
	<h3 class="catering"><%= link_to 'CATERING', '#' %></h3>
</div>
<div class="menu-page cafe">
	<div class="menu">
		<h1>MANAGE THE CAFE MENU</h1>
		<br>
		<div class="soup menu-section">
			<h2>Soups</h2>	
			<% @soups.each do |soup| %>
				<div class="item">
					<h3><b><%= link_to soup.title, edit_dish_path(soup) %></b></h3>
					<h4><%= number_to_currency(soup.price, :precision => 2) %></h4>
					<% if soup.status != 'Inactive' %>
						<%=link_to '<i class="fa fa-check-circle"></i>'.html_safe, deactivate_path(:id => soup.id), method: :post, remote: true, class: "deactivation" %>
						<%=link_to '<i class="fa fa-times-circle"></i>'.html_safe, activate_path(:id => soup.id), method: :post, remote: true, class: "activation-b appear" %>
					<% else %>
						<%=link_to '<i class="fa fa-times-circle"></i>'.html_safe, activate_path(:id => soup.id), method: :post, remote: true, class: "activation" %>
						<%=link_to '<i class="fa fa-check-circle"></i>'.html_safe, deactivate_path(:id => soup.id), method: :post, remote: true, class: "deactivation-b appear" %>
					<% end %>
				</div>
			<% end %>
		</div>
		<div class="salad menu-section">
			<h2>Salads</h2>
			<p>
				“Not just lettuce at Mayme’s!” A mixture of romaine and iceburg lettuce with tomatoes, cucumbers, kalamata olives, onions and hard cooked eggs.
			</p>
			<br>
			<% @salads.each do |salad| %>
				<div class="item">
					<h3><b><%= link_to salad.title, edit_dish_path(salad) %></b></h3>
					<h4><%= number_to_currency(salad.price, :precision => 2) %></h4>
					<% if salad.status != 'Inactive' %>
						<%=link_to '<i class="fa fa-check-circle"></i>'.html_safe, deactivate_path(:id => salad.id), method: :post, remote: true, class: "deactivation" %>
						<%=link_to '<i class="fa fa-times-circle"></i>'.html_safe, activate_path(:id => salad.id), method: :post, remote: true, class: "activation-b appear" %>
					<% else %>
						<%=link_to '<i class="fa fa-times-circle"></i>'.html_safe, activate_path(:id => salad.id), method: :post, remote: true, class: "activation" %>
						<%=link_to '<i class="fa fa-check-circle"></i>'.html_safe, deactivate_path(:id => salad.id), method: :post, remote: true, class: "deactivation-b appear" %>
					<% end %>
					<p><%= salad.description %></p>
				</div>
			<% end %>
			<p>
				CHOICE OF DRESSING:<br>
				 • House Dressing <br>
				 • Balsamic Vinaigrette Ranch<br>
				 • 1,000 Island<br>
				 • Lite Italian Creamy Cucumber<br>
				*Dry Bleu Cheese and House Dressing $1.00 extra<br> *All salads served with bread of the day
			</p>
		</div>
		<div class="caesar menu-section">
			<h2>The Real Caesar Salad</h2>
			<p>
				The Caesar dressing is Mayme’s secret recipe and we promised not to tell! All Caesar Salads are served with bread of the day.  We do not use raw eggs.
			</p>
			<br>
			<% @caesars.each do |caesar| %>
				<div class="item">
					<h3><b><%= link_to caesar.title, edit_dish_path(caesar) %></b></h3>
					<h4><%= number_to_currency(caesar.price, :precision => 2) %></h4>
					<% if caesar.status != 'Inactive' %>
						<%=link_to '<i class="fa fa-check-circle"></i>'.html_safe, deactivate_path(:id => caesar.id), method: :post, remote: true, class: "deactivation" %>
						<%=link_to '<i class="fa fa-times-circle"></i>'.html_safe, activate_path(:id => caesar.id), method: :post, remote: true, class: "activation-b appear" %>
					<% else %>
						<%=link_to '<i class="fa fa-times-circle"></i>'.html_safe, activate_path(:id => caesar.id), method: :post, remote: true, class: "activation" %>
						<%=link_to '<i class="fa fa-check-circle"></i>'.html_safe, deactivate_path(:id => caesar.id), method: :post, remote: true, class: "deactivation-b appear" %>
					<% end %>
					<p><%= caesar.description %></p>
				</div>
			<% end %>
		</div>
		<div class="burger menu-section">
			<h2>George's All American Burgers</h2>
			<p>
				Our burgers are all a 1/2 pound of fresh ground beef, handmade daily and char-grilled. Served on a toasted brioche or whole grain roll.
				You can also substitute our house made Veggie or Turkey burger for any of our burgers for $1.00 extra.<br><em>Add cup of soup or select side $1.95</em>
			</p>
			<% @burgers.each do |burger| %>
				<div class="item">
					<h3><b><%= link_to burger.title, edit_dish_path(burger) %></b></h3>
					<h4><%= number_to_currency(burger.price, :precision => 2) %></h4>
					<% if burger.status != 'Inactive' %>
						<%=link_to '<i class="fa fa-check-circle"></i>'.html_safe, deactivate_path(:id => burger.id), method: :post, remote: true, class: "deactivation" %>
						<%=link_to '<i class="fa fa-times-circle"></i>'.html_safe, activate_path(:id => burger.id), method: :post, remote: true, class: "activation-b appear" %>
					<% else %>
						<%=link_to '<i class="fa fa-times-circle"></i>'.html_safe, activate_path(:id => burger.id), method: :post, remote: true, class: "activation" %>
						<%=link_to '<i class="fa fa-check-circle"></i>'.html_safe, deactivate_path(:id => burger.id), method: :post, remote: true, class: "deactivation-b appear" %>
					<% end %>
					<p><%= burger.description %></p>
				</div>
			<% end %>
			<p><em>
				Extra lettuce and tomato $.30<br>
				Caramelized Onions $.35<br>
				Sauerkraut $.50<br>
				Extra cheese $.40<br>
				Mushrooms $.65<br>
				Large kosher pickle $1.00<br>
				Avocado $1.25</em>
			</p>
		</div>
		<div class="sandwich menu-section">
			<h2>Mayme's Cafe Deli Style Sandwiches</h2>
			<p>
				Any sandwich can be pressed into a Panini or made as a Wrap (12 inch flour or wheat).<br>
				<em>Add cup of soup or select side $1.95</em>
			</p>
			<% @sandwiches.each do |sandwich| %>
				<div class="item">
					<h3><b><%= link_to sandwich.title, edit_dish_path(sandwich) %></b></h3>
					<h4><%= number_to_currency(sandwich.price, :precision => 2) %></h4>
					<% if sandwich.status != 'Inactive' %>
						<%=link_to '<i class="fa fa-check-circle"></i>'.html_safe, deactivate_path(:id => sandwich.id), method: :post, remote: true, class: "deactivation" %>
						<%=link_to '<i class="fa fa-times-circle"></i>'.html_safe, activate_path(:id => sandwich.id), method: :post, remote: true, class: "activation-b appear" %>
					<% else %>
						<%=link_to '<i class="fa fa-times-circle"></i>'.html_safe, activate_path(:id => sandwich.id), method: :post, remote: true, class: "activation" %>
						<%=link_to '<i class="fa fa-check-circle"></i>'.html_safe, deactivate_path(:id => sandwich.id), method: :post, remote: true, class: "deactivation-b appear" %>
					<% end %>
					<p><%= sandwich.description %></p>
				</div>
			<% end %>
		</div>
		<div class="seafood menu-section">
			<h2>From the Ocean</h2>
			<p>
				<em>Add cup of soup or select side $1.95</em>
			</p>
			<% @seafood.each do |seafood| %>
				<div class="item">
					<h3><b><%= link_to seafood.title, edit_dish_path(seafood) %></b></h3>
					<h4><%= number_to_currency(seafood.price, :precision => 2) %></h4>
					<% if seafood.status != 'Inactive' %>
						<%=link_to '<i class="fa fa-check-circle"></i>'.html_safe, deactivate_path(:id => seafood.id), method: :post, remote: true, class: "deactivation" %>
						<%=link_to '<i class="fa fa-times-circle"></i>'.html_safe, activate_path(:id => seafood.id), method: :post, remote: true, class: "activation-b appear" %>
					<% else %>
						<%=link_to '<i class="fa fa-times-circle"></i>'.html_safe, activate_path(:id => seafood.id), method: :post, remote: true, class: "activation" %>
						<%=link_to '<i class="fa fa-check-circle"></i>'.html_safe, deactivate_path(:id => seafood.id), method: :post, remote: true, class: "deactivation-b appear" %>
					<% end %>
					<p><%= seafood.description %></p>
				</div>
			<% end %>
		</div>
		<div class="veg menu-section">
			<h2>Meatless and Delicious Sandwiches</h2>
			<p>
				Any sandwich can be pressed into a Panini or made as a Wrap. (12 inch flour or wheat).<br>
				<em>Add cup of soup or select side $1.95</em>
			</p>
			<% @vegs.each do |veg| %>
				<div class="item">
					<h3><b><%= link_to veg.title, edit_dish_path(veg) %></b></h3>
					<h4><%= number_to_currency(veg.price, :precision => 2) %></h4>
					<% if veg.status != 'Inactive' %>
						<%=link_to '<i class="fa fa-check-circle"></i>'.html_safe, deactivate_path(:id => veg.id), method: :post, remote: true, class: "deactivation" %>
						<%=link_to '<i class="fa fa-times-circle"></i>'.html_safe, activate_path(:id => veg.id), method: :post, remote: true, class: "activation-b appear" %>
					<% else %>
						<%=link_to '<i class="fa fa-times-circle"></i>'.html_safe, activate_path(:id => veg.id), method: :post, remote: true, class: "activation" %>
						<%=link_to '<i class="fa fa-check-circle"></i>'.html_safe, deactivate_path(:id => veg.id), method: :post, remote: true, class: "deactivation-b appear" %>
					<% end %>
					<p><%= veg.description %></p>
				</div>
			<% end %>
		</div>
		<div class="kids menu-section">
			<h2>For The Kids</h2>
			<p>
				10 years or younger.  Includes Potato OR Veggie.
			</p>
			<% @kids.each do |kid| %>
				<div class="item">
					<h3><b><%= link_to kid.title, edit_dish_path(kid) %></b></h3>
					<h4><%= number_to_currency(kid.price, :precision => 2) %></h4>
					<% if kid.status != 'Inactive' %>
						<%=link_to '<i class="fa fa-check-circle"></i>'.html_safe, deactivate_path(:id => kid.id), method: :post, remote: true, class: "deactivation" %>
						<%=link_to '<i class="fa fa-times-circle"></i>'.html_safe, activate_path(:id => kid.id), method: :post, remote: true, class: "activation-b appear" %>
					<% else %>
						<%=link_to '<i class="fa fa-times-circle"></i>'.html_safe, activate_path(:id => kid.id), method: :post, remote: true, class: "activation" %>
						<%=link_to '<i class="fa fa-check-circle"></i>'.html_safe, deactivate_path(:id => kid.id), method: :post, remote: true, class: "deactivation-b appear" %>
					<% end %>
				</div>
			<% end %>
		</div>
		<div class="sides menu-section">
			<h2>On The Side</h2>
			<% @sides.each do |side| %>
				<div class="item">
					<h3><b><%= link_to side.title, edit_dish_path(side) %></b></h3>
					<h4><%= number_to_currency(side.price, :precision => 2) %></h4>
					<% if side.status != 'Inactive' %>
						<%=link_to '<i class="fa fa-check-circle"></i>'.html_safe, deactivate_path(:id => side.id), method: :post, remote: true, class: "deactivation" %>
						<%=link_to '<i class="fa fa-times-circle"></i>'.html_safe, activate_path(:id => side.id), method: :post, remote: true, class: "activation-b appear" %>
					<% else %>
						<%=link_to '<i class="fa fa-times-circle"></i>'.html_safe, activate_path(:id => side.id), method: :post, remote: true, class: "activation" %>
						<%=link_to '<i class="fa fa-check-circle"></i>'.html_safe, deactivate_path(:id => side.id), method: :post, remote: true, class: "deactivation-b appear" %>
					<% end %>
					<p><%= side.description %></p>
				</div>
			<% end %>
		</div>
		<div class="beverages menu-section">
			<h2>Beverages</h2>
			<% @beverages.each do |beverage| %>
				<div class="item">
					<h3><b><%= link_to beverage.title, edit_dish_path(beverage) %></b></h3>
					<h4><%= number_to_currency(beverage.price, :precision => 2) %></h4>
					<% if beverage.status != 'Inactive' %>
						<%=link_to '<i class="fa fa-check-circle"></i>'.html_safe, deactivate_path(:id => beverage.id), method: :post, remote: true, class: "deactivation" %>
						<%=link_to '<i class="fa fa-times-circle"></i>'.html_safe, activate_path(:id => beverage.id), method: :post, remote: true, class: "activation-b appear" %>
					<% else %>
						<%=link_to '<i class="fa fa-times-circle"></i>'.html_safe, activate_path(:id => beverage.id), method: :post, remote: true, class: "activation" %>
						<%=link_to '<i class="fa fa-check-circle"></i>'.html_safe, deactivate_path(:id => beverage.id), method: :post, remote: true, class: "deactivation-b appear" %>
					<% end %>
					<% if beverage.description != nil %>
						<p>
							<%= beverage.description %>
						</p>
					<% end %>
				</div>
			<% end %>
		</div>
		<div class="toppings menu-section">
			<h2>Toppings</h2>
			<% @toppings.each do |topping| %>
				<div class="item">
					<h3><b><%= link_to topping.title, edit_dish_path(topping) %></b></h3>
					<h4><%= number_to_currency(topping.price, :precision => 2) %></h4>
					<% if topping.status != 'Inactive' %>
						<%=link_to '<i class="fa fa-check-circle"></i>'.html_safe, deactivate_path(:id => topping.id), method: :post, remote: true, class: "deactivation" %>
						<%=link_to '<i class="fa fa-times-circle"></i>'.html_safe, activate_path(:id => topping.id), method: :post, remote: true, class: "activation-b appear" %>
					<% else %>
						<%=link_to '<i class="fa fa-times-circle"></i>'.html_safe, activate_path(:id => topping.id), method: :post, remote: true, class: "activation" %>
						<%=link_to '<i class="fa fa-check-circle"></i>'.html_safe, deactivate_path(:id => topping.id), method: :post, remote: true, class: "deactivation-b appear" %>
					<% end %>
				</div>
			<% end %>
		</div>
		<div class="dessert menu-section">
			<h2>Mayme's Desserts</h2>
			<p>
				Try our Fresh Daily Featured Desserts!
			</p>
		</div>
	</div>
</div>
<div class="cater-menu-page cater">
	<div class="menu">
		<h1>MANAGE THE CATERING MENU</h1>
		<br>
		<div class="salad menu-section">
			<h2>Salads</h2>
			<p>
				“Not just lettuce at Mayme’s!” A mixture of romaine and iceburg lettuce with tomatoes, cucumbers, kalamata olives, onions and hard cooked eggs.
			</p>
			<br>
			<% @cater_salads.each do |salad| %>
				<div class="item">
					<div class="box-left">
						<h3><b><%= link_to salad.title, edit_dish_path(salad) %></b></h3>	
						<p><%= salad.description %></p>
					</div>
					<div class="box-right">
						<h4>
							Half Tray <%= number_to_currency(salad.half, :precision => 2) %><br>
							Full Tray <%= number_to_currency(salad.full, :precision => 2) %>
						</h4>
					</div>
					<% if salad.status != 'Inactive' %>
						<%=link_to '<i class="fa fa-check-circle"></i>'.html_safe, deactivate_path(:id => salad.id), method: :post, remote: true, class: "deactivation" %>
						<%=link_to '<i class="fa fa-times-circle"></i>'.html_safe, activate_path(:id => salad.id), method: :post, remote: true, class: "activation-b appear" %>
					<% else %>
						<%=link_to '<i class="fa fa-times-circle"></i>'.html_safe, activate_path(:id => salad.id), method: :post, remote: true, class: "activation" %>
						<%=link_to '<i class="fa fa-check-circle"></i>'.html_safe, deactivate_path(:id => salad.id), method: :post, remote: true, class: "deactivation-b appear" %>
					<% end %>
				</div>
			<% end %>
			<div class="clear"></div>
			<p>
				CHOICE OF DRESSING:<br>
				 • House Dressing <br>
				 • Balsamic Vinaigrette Ranch<br>
				 • 1,000 Island<br>
				 • Lite Italian<br> 
				 • Creamy Cucumber<br>
				*Dry Bleu Cheese available at extra cost
			</p>
		</div>
		<div class="caesar menu-section">
			<h2>The Real Caesar Salad</h2>
			<p>
				The Caesar dressing is Mayme’s secret recipe and we promised not to tell! We do not use raw eggs.
			</p>
			<br>
			<% @cater_caesar.each do |caesar| %>
				<div class="item">
					<h3><b><%= link_to caesar.title, edit_dish_path(caesar) %></b></h3>
					<h4><%= number_to_currency(caesar.price, :precision => 2) %></h4>
					<% if caesar.status != 'Inactive' %>
						<%=link_to '<i class="fa fa-check-circle"></i>'.html_safe, deactivate_path(:id => caesar.id), method: :post, remote: true, class: "deactivation" %>
						<%=link_to '<i class="fa fa-times-circle"></i>'.html_safe, activate_path(:id => caesar.id), method: :post, remote: true, class: "activation-b appear" %>
					<% else %>
						<%=link_to '<i class="fa fa-times-circle"></i>'.html_safe, activate_path(:id => caesar.id), method: :post, remote: true, class: "activation" %>
						<%=link_to '<i class="fa fa-check-circle"></i>'.html_safe, deactivate_path(:id => caesar.id), method: :post, remote: true, class: "deactivation-b appear" %>
					<% end %>
					<p><%= caesar.description %></p>
				</div>
			<% end %>
		</div>
		<div class="sandwich menu-section">
			<h2>Deli Sandwich Trays</h2>
			<p>
				Choose from our variety of meats, cheeses, breads or wraps.
			</p>
			<% @cater_sandwiches.each do |sandwich| %>
				<div class="item">
					<h3><b><%= link_to sandwich.title, edit_dish_path(sandwich) %></b></h3>
					<h4><%= number_to_currency(sandwich.price, :precision => 2) %></h4>
					<% if sandwich.status != 'Inactive' %>
						<%=link_to '<i class="fa fa-check-circle"></i>'.html_safe, deactivate_path(:id => sandwich.id), method: :post, remote: true, class: "deactivation" %>
						<%=link_to '<i class="fa fa-times-circle"></i>'.html_safe, activate_path(:id => sandwich.id), method: :post, remote: true, class: "activation-b appear" %>
					<% else %>
						<%=link_to '<i class="fa fa-times-circle"></i>'.html_safe, activate_path(:id => sandwich.id), method: :post, remote: true, class: "activation" %>
						<%=link_to '<i class="fa fa-check-circle"></i>'.html_safe, deactivate_path(:id => sandwich.id), method: :post, remote: true, class: "deactivation-b appear" %>
					<% end %>
					<p><%= sandwich.description %></p>
				</div>
			<% end %>
		</div>
		<div class="tray menu-section">
			<h2>Tray of Cold Cuts</h2>
			<h3>Sliced or Cubed</h3>
			<p>Smoked ham, salami, roasted turkey breast, Swiss cheese, provolone cheese. Add roasted beef at additional cost.<br><br>** Minimum of 10 People **</p>
		</div>
		<div class="veggies menu-section">
			<h2>Fresh Roasted Seasonal Veggies</h2>
			<% @vegetables.each do |vegetable| %>
				<div class="item">
					<h3><b><%= link_to vegetable.title, edit_dish_path(vegetable) %></b></h3>
					<h4><%= number_to_currency(vegetable.price, :precision => 2) %></h4>
					<% if vegetable.status != 'Inactive' %>
						<%=link_to '<i class="fa fa-check-circle"></i>'.html_safe, deactivate_path(:id => vegetable.id), method: :post, remote: true, class: "deactivation" %>
						<%=link_to '<i class="fa fa-times-circle"></i>'.html_safe, activate_path(:id => vegetable.id), method: :post, remote: true, class: "activation-b appear" %>
					<% else %>
						<%=link_to '<i class="fa fa-times-circle"></i>'.html_safe, activate_path(:id => vegetable.id), method: :post, remote: true, class: "activation" %>
						<%=link_to '<i class="fa fa-check-circle"></i>'.html_safe, deactivate_path(:id => vegetable.id), method: :post, remote: true, class: "deactivation-b appear" %>
					<% end %>
					<p><%= vegetable.description %></p>
				</div>
			<% end %>
		</div>
		<div class="extras menu-section">
			<h2>Sides and Extras</h2>
			<% @extras.each do |extra| %>
				<div class="item">
					<h3><b><%= link_to extra.title, edit_dish_path(extra) %></b></h3>
					<h4><%= number_to_currency(extra.price, :precision => 2) %><%= extra.unit %></h4>
					<% if extra.status != 'Inactive' %>
						<%=link_to '<i class="fa fa-check-circle"></i>'.html_safe, deactivate_path(:id => extra.id), method: :post, remote: true, class: "deactivation" %>
						<%=link_to '<i class="fa fa-times-circle"></i>'.html_safe, activate_path(:id => extra.id), method: :post, remote: true, class: "activation-b appear" %>
					<% else %>
						<%=link_to '<i class="fa fa-times-circle"></i>'.html_safe, activate_path(:id => extra.id), method: :post, remote: true, class: "activation" %>
						<%=link_to '<i class="fa fa-check-circle"></i>'.html_safe, deactivate_path(:id => extra.id), method: :post, remote: true, class: "deactivation-b appear" %>
					<% end %>
					<p><%= extra.description %></p>
				</div>
			<% end %>
		</div>
		<div class="meats menu-section">
			<h2>Meat Specialties</h2>
			<% @meats.each do |meat| %>
				<div class="item">
					<div class="box-left">
						<h3><b><%= link_to meat.title, edit_dish_path(meat) %></b></h3>	
						<p><%= meat.description %></p>
					</div>
					<div class="box-right">
						<% if meat.unit == 'Normal' %>
							<h4>
								Half Tray <%= number_to_currency(meat.half, :precision => 2) %><br>
								Full Tray <%= number_to_currency(meat.full, :precision => 2) %>
							</h4>
						<% else %>
							<h4><%= number_to_currency(meat.price, :precision => 2) %><%= meat.unit %></h4>
						<% end %>
					</div>
					<% if meat.status != 'Inactive' %>
						<%=link_to '<i class="fa fa-check-circle"></i>'.html_safe, deactivate_path(:id => meat.id), method: :post, remote: true, class: "deactivation" %>
						<%=link_to '<i class="fa fa-times-circle"></i>'.html_safe, activate_path(:id => meat.id), method: :post, remote: true, class: "activation-b appear" %>
					<% else %>
						<%=link_to '<i class="fa fa-times-circle"></i>'.html_safe, activate_path(:id => meat.id), method: :post, remote: true, class: "activation" %>
						<%=link_to '<i class="fa fa-check-circle"></i>'.html_safe, deactivate_path(:id => meat.id), method: :post, remote: true, class: "deactivation-b appear" %>
					<% end %>
				</div>
			<% end %>
			<div class="clear"></div>
		</div>
		<div class="chicken menu-section">
			<h2>Poultry Ideas</h2>
			<div class="chicken-tray">
				<p>
					** All Half Trays $40.00 **<br> 
					** All Full Trays $75.00 **
				</p>
			</div>
			<% @poultries.each do |poultry| %>
				<div class="item">
					<h3><b><%= link_to poultry.title, edit_dish_path(poultry) %></b></h3>
					<% if poultry.unit != 'Normal' %>
						<h4><%= number_to_currency(poultry.price, :precision => 2) %><%= poultry.unit %></h4>
					<% end %>
					<% if poultry.status != 'Inactive' %>
						<%=link_to '<i class="fa fa-check-circle"></i>'.html_safe, deactivate_path(:id => poultry.id), method: :post, remote: true, class: "deactivation" %>
						<%=link_to '<i class="fa fa-times-circle"></i>'.html_safe, activate_path(:id => poultry.id), method: :post, remote: true, class: "activation-b appear" %>
					<% else %>
						<%=link_to '<i class="fa fa-times-circle"></i>'.html_safe, activate_path(:id => poultry.id), method: :post, remote: true, class: "activation" %>
						<%=link_to '<i class="fa fa-check-circle"></i>'.html_safe, deactivate_path(:id => poultry.id), method: :post, remote: true, class: "deactivation-b appear" %>
					<% end %>
					<p>
						<%= poultry.description %>
					</p>
				</div>
			<% end %>
		</div>
		<div class="pasta menu-section">
			<h2>Pastas</h2>
			<% @pastas.each do |pasta| %>
				<div class="item">
					<div class="box-left">
						<h3><b><%= link_to pasta.title, edit_dish_path(pasta) %></b></h3>	
						<p><%= pasta.description %></p>
					</div>
					<div class="box-right">
						<% if pasta.unit == 'Normal' %>
							<h4>
								Half Tray <%= number_to_currency(pasta.half, :precision => 2) %><br>
								Full Tray <%= number_to_currency(pasta.full, :precision => 2) %>
							</h4>
						<% else %>
							<h4><%= number_to_currency(pasta.price, :precision => 2) %><%= pasta.unit %></h4>
						<% end %>
					</div>
					<% if pasta.status != 'Inactive' %>
						<%=link_to '<i class="fa fa-check-circle"></i>'.html_safe, deactivate_path(:id => pasta.id), method: :post, remote: true, class: "deactivation" %>
						<%=link_to '<i class="fa fa-times-circle"></i>'.html_safe, activate_path(:id => pasta.id), method: :post, remote: true, class: "activation-b appear" %>
					<% else %>
						<%=link_to '<i class="fa fa-times-circle"></i>'.html_safe, activate_path(:id => pasta.id), method: :post, remote: true, class: "activation" %>
						<%=link_to '<i class="fa fa-check-circle"></i>'.html_safe, deactivate_path(:id => pasta.id), method: :post, remote: true, class: "deactivation-b appear" %>
					<% end %>
				</div>
			<% end %>
			<div class="clear"></div>
		</div>
	</div>
</div>