<div class="center">
	<h1>Add a new Catering Dish</h1>
	<div class="new-form">
		<%= form_for Dish.new do |f| %>
			<div class="form-section">
				<%= f.label :category %><br>
				<%= f.select :category, [['Salad', 'cater_salad'], ['Sandwich', 'cater_sandwich'], ['Vegetable', 'cater_veg'], ['Extras', 'cater_extras'],  ['Meat', 'cater_meat'], ['Poultry', 'cater_poultry'], ['Pasta', 'cater_pasta']] %>
			</div>
			<br>
			<div class="form-section">
				<%= f.label :title %><br>
				<%= f.text_field :title %>
			</div>
			<br>
			<div class="form-section">
				<%= f.label :description %><br>
				<%= f.text_area :description %>
			</div>
			<br>
			<div class="pricing form-section">
				<%= f.label 'Half Tray Price' %>
				<%= f.text_field :half, class: "price" %>
			</div>
			<div class="pricing form-section">
				<%= f.label 'Full Tray Price' %>
				<%= f.text_field :full, class: "price" %>
			</div>
			<div class="pricing form-section">
				<%= f.label 'Fixed Price' %>
				<%= f.text_field :price, class: "price" %>
			</div>
			<br>
			<div class="form-section">
				<%= f.submit :create, class: "submit", data: {disable_with: "Submitting..."} %>
			</div>
		<% end %>
	</div>
</div>