<!DOCTYPE html>
<html>
<head>
  <title>Mayme's Cafe and Catering</title>
  <meta charset="UTF-8">
  <meta name="description" content="Mayme's Cafe and Catering provides the best quality food in the Conyngham and Hazelton area.">
  <meta name="keywords" content="Catering, Cafe, Conyngham, Mayme's, restaurant, lunch, dinner" >
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="/mayme_red_2.png">
  <link href='https://fonts.googleapis.com/css?family=Caudex|Lato:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
	<% if flash[:notice] %>
		<div class="notice">
			<%= flash[:notice] %>
		</div>
	<% end %>
	
	<% if flash[:alert] %>
		<div class="alert">
			<%= flash[:alert] %>
		</div>
	<% end %>

	<div class="nav">
		<ul>
			<li>
				<%= link_to 'CAFE HOME', root_path %>
			</li>
			<li>
				<%= link_to 'CAFE MENU', dishes_path %>
			</li>
			<li>
				<%= link_to 'CATERING MENU', cater_path %>
			</li>
			<li>
				<%= link_to 'DAILY FEATURES', 'https://www.facebook.com/maymescafe/', :target => "_blank" %>
			</li>
			<!--
			<li>
				<%= link_to 'MEET MAYME', welcome_mayme_path %>
			</li>
			-->
			<li>
				<%= link_to 'CONTACT US', welcome_contact_path %>
			</li>
		</ul>
	</div>

	<% if session[:user_id] != nil %>
		<div class="session">
			<ul>
				<li>
					<%= link_to 'MANAGE DISHES', manage_path %>
				</li>
				<li>
					<%= link_to 'NEW DISH', new_dish_path %>
				</li>
				<li>
					<%= link_to 'NEW CATERING DISH', newcater_path %>
				</li>
				<li>
					<%= link_to 'LOG OUT', sessions_path, method: :delete %>
				</li>
			</ul>
		</div>
	<% end %>

<%= yield %>

</body>
</html>
